<div class="component {{_proofOfConcept._button._component}}-component {{_proofOfConcept._button._component}}-component-{{_id}}">
	<div class="{{_proofOfConcept._button._component}}-inner component-inner{{#if _proofOfConcept._button._isLocking}} locking{{/if}}">
		{{#if _proofOfConcept._button.prev._isEnabled}}
			<button role="button" class="button-prev button {{#if (and 
        	(eq _proofOfConcept._button.prev._style 'hidden')
        	(ne _proofOfConcept._button.prev._isVisible true)
        )}} display-none{{/if}} " {{#if (and 
        	(eq _proofOfConcept._button.prev._style 'disabled')
        	_proofOfConcept._button.prev._isDisabled
        )}} disabled="disabled"{{/if}}>
		        {{{_proofOfConcept._button.prev.text}}}
		    </button>
		{{/if}}
        <button role="button" class="button-next button {{#if (and 
        	(eq _proofOfConcept._button.next._styleBeforeCompletion 'hidden')
        	(ne _proofOfConcept._button.next._isVisible true)
        )}}display-none{{/if}} " {{#if (and 
        	(eq _proofOfConcept._button.next._styleBeforeCompletion 'disabled')
        	_proofOfConcept._button.next._isDisabled
        )}} disabled="disabled"{{/if}}>
	        {{{_proofOfConcept._button.next.text}}}
        </button>
	</div>
</div>