<div class="component {{_proofOfConcept._button._component}}-component {{_proofOfConcept._button._component}}-component-{{_id}}">
	<div class="{{_proofOfConcept._button._component}}-inner component-inner{{#if _proofOfConcept._button._isLocking}} locking{{/if}}">
		<button role="button" class="button-prev button">
	        {{{_proofOfConcept._button.buttonPrevText}}}
	    </button>
        <button role="button" class="button-next button {{#unless _proofOfConcept._button._isVisible}}display-none{{/unless}} {{#if _proofOfConcept._button._isDisabled}}disabled" disabled="disabled"{{else}}"{{/if}}>
	        {{{_proofOfConcept._button.buttonNextText}}}
        </button>
	</div>
</div>